<!--
 Copyright 2018-2020 Camilo Higuita <milo.h@aol.com>
 Copyright 2018-2020 Nitrux Latinoamericana S.C.

 SPDX-License-Identifier: GPL-3.0-or-later
-->


<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Index</Name>
    <Version>1.0.0</Version>
    <Title>Index File Manager</Title>
    <Publisher>Maui</Publisher>
    <StartMenuDir>Index</StartMenuDir>
    <TargetDir>@ApplicationsDir@/index</TargetDir>
</Installer>
